.HeaderBoard{
    background-color: rgb(255, 255, 255);
    border-color: #543fa1;
    height:60px;
    display:flex;
    
}
.SearchInput{
    padding-left: 650px;
    padding-top:10px;
}
.UserPanel{
    padding-left: 620px;
    padding-top: 16px;
    width:100px;
}