.ToppingBox{
    height:200px;
    width:220px;
    border-style: outset;
    border-radius: 20px;
    margin-top: 20px;
    backdrop-filter: blur(5px);
	box-shadow: 0 8px 12px rgba(255,255,255,.3);
	background: rgba(255,255,255,.5);
}